@import "tailwindcss";

@keyframes scan {
  from { top: 0%; }
  to { top: 100%; }
}

@keyframes fadeInUp {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}

.animate-scan-move {
  animation: scan 1.5s linear infinite;
}

.animate-fade-in-up {
  animation: fadeInUp 0.8s ease-out forwards;
}

body {
  margin: 0;
  background-color: #FFFBF0;
}